* {
  margin: 0;
  padding: 0;
}

.page-header {
  width: 100vw;
  height: 800px;
  background-image: url("https://israelberko.w3spaces.com/berko-family/images/_DSC6330.jpg");
  background-size: cover;
  background-position-y: bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.page-header__text {
  font-family: "Varela Round", sans-serif;
  font-size: 55px;
  text-align: center;
  color: rgb(182, 160, 131);
  position: absolute;
  top: 20px;
  right: 50px;
}

.page-menu {
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  background-color: darkslategrey;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
}

.dropdown__button {
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  text-align: center;
  color: beige;
  background-color: darkslategrey;
  transition: background-color 2s linear 0s;
}

.dropdown__content {
  font-family: "Varela Round", sans-serif;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: display 1s linear 0s;
}

.dropdown__link {
  text-decoration: none;
  display: block;
}

dropdown__link:hover {
  background-color: #ddd;
}

.dropdown__button:hover {
  background-color: #3e8e41;
}

.dropdown__button:hover .dropdown__content {
  display: block;
}
